.login {
  position: absolute;
  width: 50%;
  right: 0;
  height: 100vh;
  z-index: 10001;
  background-color: white;
  top: 0;
  padding: 0 80px;
  color: black!important;
  display: flex;
  flex-direction: column;
  .account-info{
    margin: 40px 0;
    h2{
      font-size: 1rem;
      line-height: 1.5;
      letter-spacing: .0625rem;
      color: #252525;
      margin: 0 0 10px;
    }
    ul {
      margin: 0 0 28px;
      display: flex;
      flex-direction: column;      
      li {
        font-size: .75rem;
        line-height: 1;
        letter-spacing: .5px;
        margin: 5px 0;
        &::before {
          content: "-";
          margin-right: 8px; 
        }
      }
      .check{
        display: flex;
        align-items: center;
        font-size: .6rem;
        line-height: 1;
        letter-spacing: .5px;
        input{
          margin-right: 5px;
        }
        &::before {
          content: "";
        }
      }
    }
    
  }
  .forget{
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    label{
      font-size: .625rem;
      line-height: .6875rem;
      letter-spacing: .025rem;
      color: rgb(55, 55, 55);
      margin-right: 5px;
    }
    a{
      color: rgb(55, 55, 55);
      font-size: .625rem;
      line-height: .6875rem;
      letter-spacing: .025rem;
      text-decoration: underline;
    }
  }
  button{
    transition: 0.2s;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    background: transparent;
    width: 150px;
    height: 32px;
    padding: 0 18px;
    color: white;
    border: 1px solid black;
    background-color: black;
  }
  h2{
    margin: 0 0 16px;
  }
  .box-margin{
    margin: 50px 0 32px;
  }
  .login-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    .title-form{
      margin-right: 50px;
    }
    .input-container{
      display: flex;
      width: calc(50% - 20px);
      justify-content: space-between;
      flex-direction: column;
      select{
        border: none;
        border-bottom: 1px solid black;
        outline: none;
        padding-bottom: 10px;
      }
      label{
        margin: 0 0 12px;
        line-height: 2rem;
        letter-spacing: .5px;
        font-size: .75rem;
      }
      input{
        border: none;
        outline: none;
        border-bottom: 1px solid black;
        font-size: .75rem;
        line-height: 1;
        letter-spacing: .5px;
        height: 2.125rem;
      }
    }
  }
}
.haveit{
  position: absolute;
  top: 60px;
  right: 100px;
  text-decoration: underline;
  font-size: 0.75rem;
  color: rgb(82, 82, 82);
}
.right{
  width: 100%;
  display: flex;
  align-self: flex-end;
}
.close{
  position: absolute;
  top: 25px;
  right: 80px;
  font-size: 1.5rem;
  cursor: pointer;
}
.cover {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.6);
  top: 0;
  z-index: 10000;
  &:hover{
    background-color: rgba(0,0,0,0.6);
  }
}
.mb70{
  margin: 25px 0 70px!important;
  background-color: white!important;
  color: black!important;
  &:hover{
    color: white!important;
    background-color: black!important;
  }
}
.mb20{
  margin:  0!important;
}