footer{
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 0.5px solid rgb(85, 85, 85);
  .footer-manage-section{
    border-top: 0.5px solid rgb(85, 85, 85);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .language-section{
      display: flex;
      gap: 15px;
      padding: 25px 35px 25px 32px;
      align-items: center;
      span{
        font-size: .75rem;
        line-height: 1.12;
        letter-spacing: .5px;
      }
      .language-select{
        display: flex;
        align-items: center;
        .arrowdown{
          cursor: pointer;
          margin-left: 10px;
          width: 25px;
          height: 25px;
          font-size: 2rem;
          font-weight: 100;
        }
        span{
          font-size: .625rem;
          line-height: 1.12;
          letter-spacing: .5px;
        }
      }
    }
    .footer-manage{
      padding: 11px 32px;
      display: flex;
      gap: 10px;
      li{
        cursor: pointer;
        display: flex;
        gap: 5px;
        margin: 0 12px 0 1px;
        align-items: center;
        line-height: .875rem;
        font-size: 12px;
        font-weight: 200;
        padding-block-end: .0625rem;
        .plusminus{
          margin-bottom: 2px;
        }
      }
    }
  }
  .footer-tool{
    width: 100%;
    display: flex;
    justify-content: space-between;
    .footer-locator{
      display: flex;
      flex-direction: column;
      padding: 16px 32px 20px;
      width: 400px;
      h4{
        line-height: 1.875rem;
        letter-spacing: .03rem; 
        font-size: .75rem;
      }
      p{
        margin-bottom: 4px;
        font-size: .75rem;
        line-height: 1.12;
        letter-spacing: .5px;
      }
      .input-container{
        width: 100%;
        margin: 15px 0 35px;
        border-bottom: 1px solid white;
        display: flex;
        justify-content: space-between;
        button{
          font-size: .75rem;
          line-height: 1.12;
          letter-spacing: 0;
          background-color: transparent;
          border: none;
          color: white;
        }
        input{
          padding: 10px 10px 10px 0;
          background-color: transparent;
          border: none;
          width: 100%;
          color: white;
          outline: none;
        }
      }
    }
  }
  .footer-img-container{
    width: 100%;
    padding: 20px 11px 0;
    display: flex;
    justify-content: center;
    img{
      width: 180px;
    }
  }
}
.m32-35{
  margin: 32px 0 35px!important;
}

.copyright{
  border-top: 0.5px solid rgb(85, 85, 85);
  padding: 20px 32px;
  color: white;
  width: 100%;
  display: flex;
  p{
    text-align: center;
    font-size: 0.5rem;
    line-height: 2.75;
    letter-spacing: .03px;
  }
}

.specials {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 60px 32px 87.5px;
  li {
    height: 16px;
    padding: 0 22px;
    font-size: .75rem;
    line-height: 1.12;
    letter-spacing: .5px;
    border-right: 2px solid white;
    &:last-child {
      border-right: none;
    }
  }
}
.footer-height{
  height: 180px;
}