.gender-hero {
  display: flex;
  flex-direction: column;
  margin-top: 180px;
  align-items: center;
  gap: 50px;

  h1 {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.06rem;
    font-weight: 200;
    padding: 0 0 30px;
  }

  img {
    width: 40%;
  }

  p {
    padding: 10px 0 30px;
    width: 50%;
    text-align: center;
    font-size: 12px;
    line-height: 1.6275rem;
    letter-spacing: 0;
    font-weight: 200;
  }
}

.gender-shop {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 24px;

  .load {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      transition: 0.2s;
      margin-top: 15px;
      align-items: center;
      justify-content: center;
      background: transparent;
      width: 150px;
      height: 44px;
      padding: 0 18px;
      color: black;
      border: 1px solid black;
      background-color: white;

      &:hover {
        color: white;
        background-color: black;
      }
    }

    .progress-bar {
      width: 100%;
      height: 2px;
      border-radius: 50%;
      background-color: gray;
      position: relative;

      .filled {
        height: 100%;
        background-color: black;
        position: absolute;
        left: 0;
      }
    }

    .first {
      font-size: 0.8125rem;
      line-height: 1.12;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      margin-block-end: 0.9375rem;
    }
  }

  .cards {
    justify-content: space-between; 
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;

    .card {
      width: calc(25% - 20px);
      margin-bottom: 70px;
      position: relative;

      .heart {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 1.4rem;
        width: 30px;
        height: 30px;
        cursor: pointer;
      }

      .card-img {
        width: 100%;
        position: relative;

        img {
          height: 100%;
          width: 100%;
          background-position: center center;
          background-size: cover;
        }

        .hover-img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: calc(100% - 10px);
          object-fit: cover;
          display: none;
        }
      }

      .card-p {
        padding: 10px 0 0;
        font-size: 0.75rem;
        line-height: 1;
        letter-spacing: 0.5px;
      }

      .card-price {
        padding: 12px 0 8px;
        font-size: 0.75rem;
        line-height: 1rem;
        letter-spacing: 0.48px;
      }

      &:hover {
        .hover-img {
          display: block; 
        }
      }
    }
  }
}
