.campaign-section{
  .button-wrapper{
    button{
      &:hover::after{
        top: 0;
      }
      &::after{
        background-color: black;
        top: 95%;
      }
      &:hover{
        a{
          color: white;
        }
      }
    }
  }
}