main{
  display: flex;
  flex-direction: column;
}
.hero-section{
  display: flex;
  color: white;
  font-family: 'MainFont', sans-serif;
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  .bg-container{
    position: relative;
    .hero-info{
      position: absolute;
      top: 70vh;
      left: 90px;
      display: flex; 
      flex-direction: column;
      gap: 30px;  
      h2{
        font-weight: 200;
      }
      p{
        word-spacing: 0.1rem;
      }
      .button-wrapper{
        display: flex;
        gap: 40px;
      }
      button{
        display: flex;
        justify-content: center;
        background-color: transparent;
        border: none; 
        font-size: 12px;
        color: white;
        position: relative;
        width: fit-content;
        overflow: hidden;
        padding: 5px;
        a{
          z-index: 10;
          transition: 0.25s;
        }
        cursor: pointer;
        &:hover{
          a{
            color: black;
          }
        }
        &:hover::after{
          top: 0;
        }
        &::after{
          content: "";
          transition: 0.2s ease-in-out;
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: white;
          top: 95%;
        }
      }
    }
    img{
      width: 100%;
      height: 100%;
    }
  }
}
.w-50{
  width: 50%;
}
.w-100{
  width: 100%;
}
.mb-100{
  top: auto!important;
  bottom: 100px !important;
}